body {
	margin-top: 50px;
}

.divImg {
	height: 75px;
	width: 75px;
}

.imgPlato {

}

.precio {
	float: right;
}

#barraSuperior {
	background-color: #26a69a;
	border-radius: 0px;
}

.materialboxed {
	z-index: 1001 !important;
}