body {
	padding-top: 50px;
} 

.labelRegistro {
	margin-right: 10px;
}

#container-registro div.row {
	margin-top: 5px;
}

#txtDireccionFisica {
}

#barraSuperior {
	height: 17px;
	background-color: #26a69a;
	border-radius: 0px;
	margin: 0;
}